[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
[submodule "libhv"]
	path = libhv
	url = https://github.com/ithewei/libhv.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "prototype-ui9/lvgl"]
	path = prototype-ui9/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "prototype-ui9/libhv"]
	path = prototype-ui9/libhv
	url = https://github.com/ithewei/libhv.git
[submodule "prototype-ui9/wpa_supplicant"]
	path = prototype-ui9/wpa_supplicant
	url = git://w1.fi/hostap.git
[submodule "prototype-ui9/spdlog"]
	path = prototype-ui9/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = fmt-11.2.0
